{#
 # Blocks: Image & Content
 #}

<div class="{{ html_classes( 'py-10 xl:py-20' ) }}">
	<div class="container xl:grid xl:grid-cols-3 xl:gap-4">
		<div class="xl:col-span-1 space-y-6">
			{{- include( 'components/image.html.twig', { image: block.image, classes: [ 'rounded-[1.25rem] aspect-screen object-cover' ] } ) -}}
		</div>
		<div class="xl:col-span-2 space-y-6 xl:space-y-4 mt-6 xl:mt-0">
			<div class="xl:ml-12 xl:sticky xl:top-28 xl:inset-x-0">
				<h2 class="h2">{{- block.title -}}</h2>
				<div class="wysiwyg">{{- block.content -}}</div>
			</div>
		</div>
	</div>
</div>
